<% @users.each do |user| %>
  <strong>Name: </strong><%= user.name %>
  <strong>Username: </strong><%= user.username %>
  <strong>Age: </strong><%= user.age %>
  <a href="/profile/<% user.id %>"><% user.name %>User Profile</a>
<% end %>