<form method="post" action="/edit">
	<input type="text" name="username" placeholder="Enter yo new username">
	<input type="password" name="password" placeholder="Enter yo new password">
	<input type="text" name="name" placeholder="type your new name!"><br>
	<input type="text" name="age" placeholder="how old you is now?"><br>
	<input type="submit"> <!-- cannot be button -->
</form>