<div class="container">
	
	<div class="title">
	  <h1 class="glittr">
	    Glittr
	  </h1>
	  <h2>NO SUCH<em></em>USER, BRO.</h2>
	  <div id="titleBackdrop"></div>
	</div>

<!-- background video -->
	<div class="fullscreen-bg">
	  <video loop muted autoplay poster="../images/clouds.jpg" class="fullscreen-bg__video">
	    <source src="../videos/clouds.mp4" type="video/mp4">
	  </video>
	</div>

	
	<img id="indexUnicorn" src="http://67.media.tumblr.com/5ad3d554b65eb61f7a943ba1e68ec310/tumblr_inline_mywcvnmH1r1qellpe.gif" height="500px" width="500px" alt="">


</div>