
<div class="container">

<p>To see another user's details, please input "/profile/(id#)" in search bar</p>

<div class="postField">
<% @posting.each do |p| %>
    <%= p.posts %>
<% end %>
</div>

</div>


