<div class="title">
  <h1>
    Glittr
  </h1>
</div>

<div class="container">
	<div class="postField">
    <p>To see another user's details, please input "/profile/(id#)" in search bar</p>
		<% @posting.each do |p| %>
    	<%= p.posts %>
		<% end %>
	</div>
<!-- <div id="s"></div>
<div id="splode"></div>
 -->
</div>

<!-- background video -->
<div class="fullscreen-bg">
  <video loop muted autoplay poster="../images/clouds.jpg" class="fullscreen-bg__video">
    <source src="../videos/clouds.mp4" type="video/mp4">
  </video>
</div>

<!-- <p>To see another user's details, please input "/profile/(id#)" in search bar</p> -->

<!-- <div class="postField">
<% @posting.each do |p| %>
    <%= p.posts %>
<% end %>
</div> -->


