<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="http://67.media.tumblr.com/5ad3d554b65eb61f7a943ba1e68ec310/tumblr_inline_mywcvnmH1r1qellpe.gif" />
	<link rel="stylesheet" type="text/css" href="gino.css">
	<title>Glittr</title>
</head>
<body>
	<div id="notice">
		<%= flash[:notice] if flash[:notice] %>
	</div>
	<div id="error">
		<%= flash[:error] if flash[:error] %>
	</div>
<%= yield %>
	<img src="http://67.media.tumblr.com/5ad3d554b65eb61f7a943ba1e68ec310/tumblr_inline_mywcvnmH1r1qellpe.gif" height="500px" width="500px" alt="">
</body>
</html>

