
<div class="container">

<form id="post" method="post" action="/post">
	<input id="content" type="text" name="post" placeholder="Enter your text">
	<input id="submit" type="text">
	<!-- <input type="hidden" name="country" value="Norway"> -->
	 <!-- cannot be button -->
</form>

</div>
