<form id="post" method="post" action="/post">
	<input type="text" name="post" placeholder="Enter your text">
	<input type="submit">
	<!-- <input type="hidden" name="country" value="Norway"> -->
	 <!-- cannot be button -->
</form>