<div class="container">
	<div class="searchBox">
		<form method="post" action="/search">
			<input class="signIn" type="text" name="post" placeholder="Enter the username">
			<input class="submitButton" type="submit">
		</form>
		<img id="formUnicorn" src="http://67.media.tumblr.com/5ad3d554b65eb61f7a943ba1e68ec310/tumblr_inline_mywcvnmH1r1qellpe.gif" height="auto" width="70" alt="">
	</div>
</div>