
<div class="container">
	<div id="formDiv">
		<form method="post" action="/sign-up">
			<input class="signUp" type="text" name="username" placeholder="username"><br>
			<input class="signUp"type="password" name="password" placeholder="password"><br>
			<input class="signUp"type="text" name="name" placeholder="type your name!"><br>
			<input class="signUp"type="text" name="age" placeholder="how old you is?"><br>
			<input class="submitButton" type="submit" onmouseover="ponySpin()">
		</form>
		<img id="formUnicorn" src="http://67.media.tumblr.com/5ad3d554b65eb61f7a943ba1e68ec310/tumblr_inline_mywcvnmH1r1qellpe.gif" height="auto" width="70" alt="">
	</div>
</div>