<form method="post" action="/sign-in">
	<input type="text" name="username" placeholder="Enter yo username">
	<input type="password" name="password" placeholder="Enter yo password">
	<input type="submit"> <!-- cannot be button -->
</form>