<form>
	<input type="text" name="username" placeholder="username"><br>
	<input type="password" name="password" placeholder="password"><br>
	<input type="text" name="name" placeholder="type your name!"><br>
	<input type="text" name="age" placeholder="how old you is?"><br>
	<input type="submit">
</form>