*{
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}

h1{
	text-align: center;
	width: 100px;
}

nav li {
	display: inline-block;
}

nav a {
	margin: 15px;
	text-decoration: none;
	font-weight: bolder;
	/*border: 2px solid transparent;*/
	font-size: x-large;
	padding: 10px;
	color: pink;
	text-shadow: 1px 1px purple;

}

nav a:hover {
	color: pink;
	padding: 10px;
	/*border: 2px solid pink;*/
	text-shadow: 1px 1px purple;
	
}

nav a:visited {
	text-decoration: none;
}


nav {
	margin-top: 30px;
	text-align: center;
}

#notice {
	color: pink;
}
#error {
	color: #B4FFE7;
}

.container{
	height: 500px;
	width: 90%;
	position: absolute;
	top: 10%;
	left: 4%;
	display: inline-block;
	/*commented the z-index out so the sparkle works for container*/
	/*z-index: -100;*/
}

/*================ Start Index ====================*/

.indexPostField{
	position: fixed;
	top: 70px;
	left: 1px;
	width: 300px;
	height: 70%;
	padding: 1%;
	/*background-color: rgba(255,255,255,0.5);*/
	/*border: 5px solid rgb(255,255,255);*/
	/*mix-blend-mode: difference;*/
	text-align: center;
	overflow-y: scroll
}

.indexPosts{
	font-family: 'Secular One', sans-serif;
	width: 235px;
	line-height: 20px;
	border: 3px solid pink;
	background-color: white;
	opacity: 0.7;
	color: purple;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 8px;
	z-index: -10;
	display: inline-block;
	/*text-shadow: 1px 1px purple;*/
}

.indexPostField h2{
	color: purple;
	margin-bottom: 4px;
	text-shadow: 1px 1px purple;
}


/*================ End Index ====================*/


/*================ Start Post Page====================*/
#content{
	width: 400px;
	height: 50px;
	position: relative;
	left: 50%;
	margin-top: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding-left: 20px;
}


/*================ ACCOUNT Page====================*/

.infoText{
	font-size: 20px;
	color: pink;
}

.linkText{
	text-decoration: none;
	color: white;
	font-size: 12px;
}
.linkText strong{
	color: pink;
	font-size: 15px;
	text-shadow: 1px 1px white;
}
.linkText:hover{
	text-decoration: none;
	color: pink;
}

#infoBox{
	width: 300px;
	margin-top: 20px;
	margin-left: 50px;
	padding: 10px;
	border: 5px solid white;
	text-align: center;
}

#postBox{
	display: block;
	width: 326px;
	margin-top: 20px;
	margin-left: 50px;
	text-align: right;
}

#accountContent{
	width: 300px;
	height: 75px;
	margin-top: 20px;
	/*margin-left: 50px;*/
	display: inline-block;
	padding-left: 20px;
	opacity: 0.7;
	font-size: 20px;
	text-align: center;
	color: purple;
	text-shadow: 1px 1px purple;
	border: 3px solid pink;
}

.submitButton{
	width: 50px;
	background-color: purple;
	color: pink;
	text-shadow: 1px pink;
}
.submitButton:hover{
	width: 50px;
	background-color: pink;
	color: purple;
}

.accountPostField{
	width: 50%;
	height: 550px;
	margin-top: 20px;
	float: right;
	margin-right: 50px;
	border: 5px solid white;
	display: inline-block;
	padding: 20px;
	position: relative;
	top: -295px;
	color: pink;
	text-align: center;
	overflow-y: scroll
}

.accountPosts{
	font-family: 'Secular One', sans-serif;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 6px;
	line-height: 20px;
	border: 3px solid pink;
	background-color: white;
	opacity: 0.7;
	color: purple;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	/*text-shadow: 1px 1px purple;*/
}

/*.glittrPosts{
	width: 300px;
	height: 50px;
	background-color: white;
}*/

/*================DAN'S CSS LAYOUT & INDEX =====================*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  /*bottom: 0; keep commented out */
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  /*position: absolute; keep commented out*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*mix-blend-mode: difference;*/
  z-index: -100;
}

/*@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }*/

/*  .fullscreen-bg__video {
    display: none;
  }
}*/

.title h1 {
	font-size: 100px;
	color: rgb(255,255,255);
	/*mix-blend-mode: difference;*/
	width: 300px;
	margin: 5% auto;
	z-index: 5;
	position: relative; 
	top: 100px;

}

$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

.sparkley {

  background: lighten( $buttonBackground , 10% );
  color: $buttonColor;
  border: none;

  padding: 16px 36px;
  font-weight: normal;
  
  border-radius: 3px;
  transition: all 0.25s ease;
  
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
}
  
  .sparkley:hover{
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
  }
  

html  {
  
  font-family: 'Poiret One'
  font-weight: 200;
  font-size: 1em;
  /*color: #ddd;*/
  
  min-height: 100%;

  /* awesome background from: http://codepen.io/bosscause/pen/BkxbC <3*/
  
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
}

h1 { 
  font-size: 1.9em; 
  width: 900px; 
  margin: 0 auto 1em; 
  text-shadow: 3px 3px purple;
}

.title h2{
	font-size: 40px;
	color: purple;
	/*mix-blend-mode: difference;*/
	width: 800px;
	margin: 2% auto;
	text-align: center;
	text-shadow: 2px 2px white;
	line-height: 45px;
	z-index: 2;
	position: relative;
	top: -35px;
	word-spacing: 10px;
}

.title em{
	margin-left: 120px;
	margin-right: 120px;
}

#titleBackdrop{
	width: 700px;
	height: 55px;
	background-color: pink;
	opacity: 0.9;
	position: relative;
	margin: 0 auto;
	top: -110px;
	z-index: -1;
}

/*p {

  padding: 5px 10px;
  display: inline-block;
  margin: 10px auto;

}*/


/*=================end of dan's css layout & index ====================*/


/*================ End Post Page====================*/




#unicorn{
	top: 20%;
	left: 30%;
	z-index: -99;
	opacity: 0.3;
	position: absolute;
    animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 2000ms;
    animation-timing-function: linear;
}

#indexUnicorn{
	top: 10%;
	left: 30%;
	z-index: -1;
	opacity: 0.9;
	position: absolute;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}



/*================ SIGN UP Page====================*/
#formDiv{
	width: 50%;
	height: 50%;
	margin: 75px auto;
	border: 5px solid white;
	text-align: center;
	padding-top: 30px;
}

.signUp{
	width: 50%;
	text-align: center;
	margin-bottom: 10px;
}

#formUnicorn{
	margin-top: 20px;
}

#formUnicorn:hover{
	animation-name: spin;
    animation-duration: 1000ms;
    animation-iteration-count: 2000ms;
    animation-timing-function: linear;
}



/*================ SIGN IN Page====================*/

#signInDiv{
	width: 50%;
	height: 40%;
	margin: 75px auto;
	border: 5px solid white;
	text-align: center;
	padding-top: 30px;
}

.signIn{
	width: 30%;
	text-align: center;
	margin-bottom: 10px;
}

/*================ EDIT Page====================*/

.editForm{
	width: 50%;
	height: 50%;
	margin: 75px auto;
	border: 5px solid white;
	text-align: center;
	padding-top: 30px;
}

.edit{
	width: 30%;
	text-align: center;
	margin-bottom: 10px;
}


/*================ SEARCH Page====================*/
.searchBox{
	width: 50%;
	height: 30%;
	margin: 75px auto;
	border: 5px solid white;
	text-align: center;
	padding-top: 30px;
}

.profilePostField{
	width: 50%;
	height: 550px;
	margin-top: 20px;
	float: right;
	margin-right: 50px;
	border: 5px solid white;
	display: inline-block;
	padding: 20px;
	position: relative;
	top: -135px;
	color: pink;
	text-align: center;
	overflow-y: scroll
}

.profilePosts{
	font-family: 'Secular One', sans-serif;
	width: 95%;
	margin: 0 auto;
	margin-bottom: 6px;
	line-height: 20px;
	border: 3px solid pink;
	background-color: white;
	opacity: 0.7;
	color: purple;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}



.user a{
	color:purple;
	font-size: small;
	text-decoration: none;
	margin: 0;
}

.user{
	font-size: small;
	text-decoration: none;
	margin: 0;
}

.user a:hover{
	color: pink;
	font-size: small;
	text-decoration: none;
	margin: 0;
}







