*{
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}

html{
	/*background-color: #E3FFF6;*/
}

h1{
	text-align: center;
	width: 100px;
}

nav li {
	display: inline-block;
}

nav a {
	margin: 15px;
	text-decoration: none;
	font-weight: bolder;
	border: 1px solid transparent;
	font-size: x-large;
	padding: 10px;
	color: purple;
	text-shadow: 1px 1px pink;

}

nav a:hover {
	color: pink;
	padding: 10px;
	border: 1px solid pink;
	text-shadow: 1px 1px purple;
}

nav a: visited{
	text-decoration: none;
}


nav {
	margin-top: 30px;
	text-align: center;
}

#notice {
	color: pink;
}
#error {
	color: purple;
}

.container{
	height: 500px;
	width: 90%;
	position: absolute;
	top: 10%;
	left: 4%;
/*	margin: 20px auto;*/
	/*border: 1px solid red;*/
	display: inline-block;
}

/*================ Start Index ====================*/

.postField{
	width: 50%;
	height: 500px;
	margin: 30px;
	position: relative;
	left: 40%;
	border: 5px solid purple;
	display: inline-block;
}


/*================ End Index ====================*/


/*================ Start Post Page====================*/
#content{
	width: 400px;
	height: 50px;
	position: relative;
	left: 50%;
	margin-top: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding-left: 20px;
}


/*================ ACCOUNT Page====================*/

.infoText{
	font-size: 20px;
	color: purple;
	text-shadow: 1px 1px purple;
}

.linkText{
	text-decoration: none;
	color: pink;
	text-shadow: 1px 1px purple;
	font-size: 12px;
}

.linkText:hover{
	text-decoration: none;
	color: pink;
	text-shadow: 1px 1px pink;
}

#infoBox{
	width: 15%;
	margin-top: 20px;
	margin-left: 50px;
	padding: 10px;
	border: 1px solid purple;
	text-align: center;
}

#accountContent{
	width: 300px;
	height: 75px;
	margin-top: 20px;
	margin-left: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding-left: 20px;
}

.submitButton{
	width: 50px;
	background-color: purple;
	color: pink;
	text-shadow: 1px pink;
}
.submitButton:hover{
	width: 50px;
	background-color: pink;
	color: purple;
}

.accountPostField{
	width: 50%;
	height: 380px;
	margin-top: 20px;
	float: right;
	margin-right: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding: 20px;
	position: relative;
	top: -218px;
}

/*================DAN'S CSS LAYOUT & INDEX =====================*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
/*=================end of dan's css layout & index ====================*/

/*================ End Post Page====================*/




#unicorn{
	top: 20%;
	left: 30%;
	z-index: -99;
	opacity: 0.3;
	position: absolute;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 2000ms;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}













