*{
	padding: 0;
	margin: 0;
	font-family: 'Poiret One', cursive;
}

/*html{
	background-color: #E3FFF6;
}*/

h1{
	text-align: center;
	width: 100px;
}

nav li {
	display: inline-block;
}

nav a {
	margin: 15px;
	text-decoration: none;
	font-weight: bolder;
	border: 1px solid transparent;
	font-size: x-large;
	padding: 10px;
	color: purple;
	text-shadow: 1px 1px pink;

}

nav a:hover {
	color: pink;
	padding: 10px;
	border: 1px solid pink;
	text-shadow: 1px 1px purple;
}

nav a: visited {
	text-decoration: none;
}


nav {
	margin-top: 30px;
	text-align: center;
}

#notice {
	color: pink;
}
#error {
	color: purple;
}

.container{
	height: 500px;
	width: 90%;
	position: absolute;
	top: 10%;
	left: 4%;
/*	margin: 20px auto;*/
	/*border: 1px solid red;*/
	display: inline-block;
}

/*================ Start Index ====================*/

.postField{
	width: 50%;
	height: 50%;
	margin: 0 auto;
	padding: 1%;
	/*margin: 30px;
	position: relative;
	left: 40%;*/
	border: 5px solid rgb(255,255,255);
	mix-blend-mode: difference;
	/*display: inline-block;*/

}


/*================ End Index ====================*/


/*================ Start Post Page====================*/
#content{
	width: 400px;
	height: 50px;
	position: relative;
	left: 50%;
	margin-top: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding-left: 20px;
}


/*================ ACCOUNT Page====================*/

.infoText{
	font-size: 20px;
	color: purple;
	text-shadow: 1px 1px purple;
}

.linkText{
	text-decoration: none;
	color: pink;
	text-shadow: 1px 1px purple;
	font-size: 12px;
}

.linkText:hover{
	text-decoration: none;
	color: pink;
	text-shadow: 1px 1px pink;
}

#infoBox{
	width: 15%;
	margin-top: 20px;
	margin-left: 50px;
	padding: 10px;
	border: 1px solid purple;
	text-align: center;
}

#accountContent{
	width: 300px;
	height: 75px;
	margin-top: 20px;
	margin-left: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding-left: 20px;
}

.submitButton{
	width: 50px;
	background-color: purple;
	color: pink;
	text-shadow: 1px pink;
}
.submitButton:hover{
	width: 50px;
	background-color: pink;
	color: purple;
}

.accountPostField{
	width: 50%;
	height: 380px;
	margin-top: 20px;
	float: right;
	margin-right: 50px;
	border: 1px solid purple;
	display: inline-block;
	padding: 20px;
	position: relative;
	top: -218px;
}

/*================DAN'S CSS LAYOUT & INDEX =====================*/
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  /*bottom: 0; keep commented out */
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  /*position: absolute; keep commented out*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: difference;
  z-index: -100;
}

/*@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }*/

/*  .fullscreen-bg__video {
    display: none;
  }
}*/

.title h1 {
	font-size: 80px;
	color: rgb(255,255,255);
	mix-blend-mode: difference;
	width: 300px;
	margin: 3% auto;
}

$buttonBackground: #2c3e50;
$buttonColor: rgba(255,255,255,1);

.sparkley {

  background: lighten( $buttonBackground , 10% );
  color: $buttonColor;
  border: none;

  padding: 16px 36px;
  font-weight: normal;
  
  border-radius: 3px;
  transition: all 0.25s ease;
  
  box-shadow: 0 38px 32px -23px black;
  margin: 0 1em 1em;
  
  &:hover {
   
    background: $buttonBackground;
    color: transparentize( $buttonColor,0.8 );
    
  }
  
}

html  {
  
  font-family: 'Poiret One'
  font-weight: 200;
  font-size: 1em;
  /*color: #ddd;*/
  
  min-height: 100%;

  /* awesome background from: http://codepen.io/bosscause/pen/BkxbC <3*/
  
  background: #092756;
  background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -o-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
  background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(35, 24, 82, 0.22) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
  
  body { 
    padding: 50px;
  }

}

h1 { 
  font-size: 1.9em; 
  width: 900px; 
  margin: 0 auto 1em; 
  text-shadow: 0 2px 1px purple;
}


/*p {

  padding: 5px 10px;
  display: inline-block;
  margin: 10px auto;

}*/


/*=================end of dan's css layout & index ====================*/


/*================ End Post Page====================*/




#unicorn{
	top: 20%;
	left: 30%;
	z-index: -99;
	opacity: 0.3;
	position: absolute;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: 2000ms;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}













